{% extends "profiles/base.html" %}
{% block title %}Change info{% endblock %}
{% block content %}
    <header>
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height: 700px;">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <form action="{% url 'change' user_id %}" method="POST">
                        {% csrf_token %}
                        <h4 class="display-4 mb-5">Edit info</h4>
                        {{ form.as_p }}
                        {{ form.errors }}
                        <button class="btn btn-dark mt-3 btn-block" type="submit">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
